@import "_null.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
   font-family: "Conv_Lato-Medium";
   src: url("../fonts/Lato-Medium.eot");
   src: local("☺"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"),
      url("../fonts/Lato-Medium.svg") format("svg");
   font-weight: 500;
   font-style: normal;
}
body {
   font-size: 16;
   font-weight: 400;
   font-family: Lato;
   line-height: 1.5;
   color: #102746;
}
body.lock {
   @media (max-width: 767.98px) {
      overflow: hidden;
   }
}
// .....................................................................
.view-all {
   display: block;
   color: #006dfe;
   background: url(../img/benefits/Shape.svg) right 7px no-repeat;
   padding-right: 50px;
   transition: 0.3s all ease 0s;
   @media (max-width: 549.98px) {
      padding-right: 30px;
   }
   &:hover {
      font-weight: 700;
      transition: 0.3s all ease 0s;
   }
}
.title {
   font-weight: 500;
   font-size: 35px;
   line-height: 1.2;
   position: relative;
   &::after {
      content: "";
      background-color: #006dfe;
      width: 253px;
      height: 3px;
      position: absolute;
      bottom: -17px;
      left: 0;
   }
}
.header__burger {
   display: none;
   @media (max-width: 767.98px) {
      // рисуем стрелки бургера
      display: block;
      position: relative;
      z-index: 20;
      width: 30px;
      height: 20px;
      z-index: 3;
      &:before,
      &:after {
         content: "";
         background-color: #ffffff;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
      }
      &:before {
         top: 0;
      }
      &:after {
         bottom: 0;
      }
      span {
         background-color: #ffffff;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         top: 9px;
         transition: all 0.3s ease 0s;
      }
   }
}
.header__burger.active:before {
   transform: rotate(45deg);
   top: 9px;
}
.header__burger.active:after {
   transform: rotate(-45deg);
   bottom: 9px;
}
.header__burger.active span {
   transform: scale(0);
}

// ...............................PAGE.........................................
.page {
   flex: 1 1 auto;
}
.page__main-block {
}
.page__benefits {
}
.page__inspired {
}
.page__focus {
}
.page__visit {
}
.page__video {
}
// ...........................HEADER........................................
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 20;
   @media (max-width: 767.98px) {
      position: fixed;
   }
   &:before {
      @media (max-width: 767.98px) {
         content: " ";
         position: absolute;
         width: 100%;
         height: 100%;
         left: 0;
         top: 0;
         background: #121213;
         opacity: 0.6;
         z-index: 3;
      }
   }
}
.header__container {
   max-width: 1068px;
   display: flex;
   min-height: 120px;
   justify-content: space-between;
   align-items: center;
   @media (max-width: 1199.98px) {
      justify-content: center;
      min-height: 80px;
   }
   @media (max-width: 767.98px) {
      justify-content: space-between;
      min-height: 60px;
   }
}
.header__logo {
   width: 82px;
   transition: 0.3s all ease 0s;
   position: relative;
   z-index: 3;
   @media (max-width: 1199.98px) {
      margin-right: 40px;
   }
   @media (max-width: 767.98px) {
      // margin-bottom: 20px;
   }
   img {
      max-width: 100%;
   }
   &:hover {
      transform: scale(1.2);
      transition: 0.3s all ease 0s;
   }
}
.header__menu {
   @media (max-width: 767.98px) {
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      background: url(../img/main__block/Image.png);
      background-size: cover;
      background-position: center;
      padding: 130px 0 0 20px;
      transition: all 0.6s ease 0s;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
}
.header__menu.active {
   left: 0;
}
.menu {
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
   row-gap: 20px;
   position: relative;
   z-index: 4;
   @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      margin-right: 30px;
   }
}
.menu__item {
   &:not(:last-child) {
      margin-right: 82px;
      @media (max-width: 1199.98px) {
         margin-right: 30px;
      }
      @media (max-width: 767.98px) {
         margin-right: 0px;
      }
   }
}
.menu__link {
   color: #ffffff;
   font-size: 18px;
   line-height: 1.3;
   transition: 0.3s all ease 0s;
   position: relative;
   transition: 0.3s all ease 0s;
   &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #1b7dff;
      width: 100%;
      height: 3px;
      transform-origin: center;
      transform: scale(0);
   }
   &:hover {
      color: #1b7dff;
      transition: 0.3s all ease 0s;
   }
   &:hover:after {
      transform: scale(1);
      transition: 0.3s all ease 0s;
   }
   @media (max-width: 767.98px) {
      font-size: 22px;
   }
}

// ...........................MAIN BLOCK........................................

.page__main-block {
   @media (max-width: 991.98px) {
      min-height: 100vh;
   }
   // @media (max-width: 767.98px) {
   //    padding-bottom: 50px;
   // }
}
.main-block__container {
   max-width: 1087px;
   padding: 0 15px;
   // height: 50vh;
}
.main-block {
   @media (max-width: 991.98px) {
      display: flex;
      align-items: center;
   }
}
.main-block__image {
   // position: relative;
   padding-bottom: 30%;
   overflow: hidden;
   background-image: url(../img/main__block/overlay.png);
   @media (max-width: 991.98px) {
      background-image: none;
   }
   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.main-block {
   padding-top: 263px;
   position: relative;
   z-index: 10;
   @media (max-width: 1199.98px) {
      padding-top: 150px;
   }
   @media (max-width: 767.98px) {
      padding-top: 100px;
   }
}

.main-block__body {
   position: relative;
   z-index: 12;
   color: #ffffff;
   padding: 0 15px;
   @media (max-width: 991.98px) {
      text-align: center;
   }
}
.body-main-block {
}
.body-main-block__title {
   max-width: 619px;
   font-weight: 500;
   font-size: 50px;
   text-transform: capitalize;
   line-height: 1.2;
   // margin-right: 82px;
   @media (max-width: 1199.98px) {
      font-size: 50px;
   }
   @media (max-width: 991.98px) {
      font-size: 40px;
      max-width: none;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }
   // @media (max-width: 767.98px) {
   //    font-size: 30px;
   // }
   @media (max-width: 549.98px) {
      font-size: 30px;
   }
   // &:not(:last-child) {
   //    margin-bottom: 22px;
   // }
}
.body-main-block__subtitle {
   max-width: 546px;
   margin-bottom: 59px;
   @media (max-width: 991.98px) {
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
   }
   @media (max-width: 549.98px) {
      font-size: 16px;
   }
}

.main-block__form {
   position: relative;
   z-index: 12;
   display: flex;
   flex-wrap: wrap;
   gap: 62px;
   padding: 0 15px;
   @media (max-width: 991.98px) {
      justify-content: center;
   }
   @media (max-width: 767.98px) {
      flex-direction: column;
      row-gap: 30px;
   }
}
.form-main-block {
}
.form-main-block__input {
   // min-width: 297px;
   min-height: 49px;
   background-color: transparent;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.3;
   color: #ffffff;
   border-bottom: 1px solid #ffffff;
   background: url(../img/main__block/Oval.svg) left 22% no-repeat;
   padding-left: 30px;
   padding-bottom: 22px;
   &::placeholder {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.3;
      color: #ffffff;
   }
   @media (max-width: 767.98px) {
      // flex: 0 1 50%;
      width: 100%;
   }
}
.orm-main-block__btn {
   min-width: 171px;
   min-height: 58px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #1b7dff;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.1;
   color: #ffffff;
   transition: 0.3s all ease 0s;
   transition: 0.3s all ease 0s;
   @media (max-width: 991.98px) {
      flex: 0 1 80%;
      margin-bottom: 30px;
   }
   @media (max-width: 767.98px) {
      // flex: 0 1 auto;
      width: 100%;
   }
   &:hover {
      background: #0e66d8;
      transition: 0.3s all ease 0s;
   }
}

// ..................................BENEFITS....................................
.benefits {
   // margin-top: -223px;
   // width: 1262px;
   // position: relative;
   // z-index: 15;
   // background-color: #ffffff;
   // display: grid;
   // justify-items: center;
   // margin-left: 20%;
}
.benefits__container {
   box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
   margin-top: -223px;
   // width: 1262px;
   position: relative;
   z-index: 15;
   background-color: #ffffff;
   padding-left: 99px;
   @media (max-width: 991.98px) {
      padding: 0 40px;
      margin-top: 0;
   }
   // @media (max-width: 767.98px) {
   //    margin-top: -150px;
   // }
   // @media (max-width: 549.98px) {
   //    margin-top: -50px;
   // }
}
.benefits__title {
   padding-top: 93px;
   padding-bottom: 120px;
   font-weight: 500;
   font-size: 35px;
   text-transform: uppercase;
   line-height: 1.2;
   @media (max-width: 1199.98px) {
      padding-top: 50px;
      padding-bottom: 60px;
   }
   @media (max-width: 767.98px) {
      font-size: 25px;
      padding-bottom: 30px;
   }
}
.benefits__items {
   display: grid;
   grid-auto-flow: column;
   column-gap: 55px;
   // display: flex;
   @media (max-width: 767.98px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
   }
   @media (max-width: 549.98px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
   }
}

.benefits__item {
}
.item-benefits {
   padding-bottom: 112px;
   display: flex;
   flex-direction: column;
   transition: 0.3s all ease 0s;
   &:hover {
      transform: scale(1.1);
      transition: 0.3s all ease 0s;
   }
   @media (max-width: 767.98px) {
      padding-bottom: 30px;
      margin-right: 25px;
   }
   @media (max-width: 549.98px) {
      grid-column: 1/2;
   }
}
.item-benefits__body {
   flex: 1 1 auto;
   transition: 0.3s all ease 0s;
}

.item-benefits__icon {
   &:not(:last-child) {
      margin-bottom: 37px;
      @media (max-width: 767.98px) {
         margin-bottom: 20px;
      }
   }
}
.item-benefits__title {
   color: #000000;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.3;
   &:not(:last-child) {
      margin-bottom: 26px;
      @media (max-width: 767.98px) {
         margin-bottom: 15px;
         font-size: 22px;
      }
   }
}
.item-benefits__text {
   color: #000000;
   max-width: 260px;
   margin-bottom: 39px;
   flex: 1 1 auto;
   @media (max-width: 767.98px) {
      margin-bottom: 25px;
      font-size: 18px;
   }
}
.item-benefits__link {
   display: block;
   color: #006dfe;
   background: url(../img/benefits/Shape.svg) 100px no-repeat;
   position: relative;
   transition: 0.3s all ease 0s;
   &:hover {
      font-weight: 700;
      transition: 0.3s all ease 0s;
   }
}
// ..................................inspired..................................

.inspired {
   padding-top: 131px;
   @media (max-width: 1199.98px) {
      padding-top: 50px;
   }
}
.inspired__container {
   max-width: 1262px;
   padding: 0 15px;
}
.inspired__header {
}
.header-inspired {
   display: flex;
   justify-content: space-between;
}
.header-inspired__title {
   margin-bottom: 50px;
   @media (max-width: 767.98px) {
      font-size: 30px;
   }
   @media (max-width: 449.98px) {
      font-size: 25px;
   }
}

.header-inspired__view-all {
   margin-left: 15px;
}

.inspired__pictures {
   display: grid;
   gap: 7px;
   margin-bottom: 10px;
   grid-template-columns: repeat(2, auto);
   @media (max-width: 991.98px) {
      grid-template-columns: repeat(1, auto);
      row-gap: 10px;
   }
}
.inspired__pictures__item {
}
.item-pictures {
   position: relative;
   overflow: hidden;
}
.item-pictures__image {
   position: relative;
   padding-bottom: 55%;
   transition: 0.5s all ease 0s;
   cursor: pointer;
   &:hover {
      transform: scale(1.3);
      transition: 0.5s all ease 0s;
   }
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      z-index: 10px;
   }
}
.item-pictures__text {
   position: absolute;
   font-weight: 700;
   font-size: 50px;
   left: 29px;
   bottom: 16px;
   z-index: 15;
   color: #ffffff;
   line-height: 1.2;
   text-transform: capitalize;
   @media (max-width: 445.98px) {
      font-size: 30px;
   }
}
.inspired__pictures__bottom {
   display: grid;
   grid-template-columns: repeat(3, auto);
   gap: 7px;
   @media (max-width: 991.98px) {
      grid-template-columns: repeat(1, auto);
      row-gap: 10px;
   }
}
.inspired__pictures__item {
}
.item-pictures {
}
.item-pictures__image-bottom {
   position: relative;
   padding-bottom: 68%;
   cursor: pointer;
   transition: 0.5s all ease 0s;
   &:hover {
      transform: scale(1.3);
      transition: 0.5s all ease 0s;
   }
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      z-index: 10px;
   }
}

// ...........................FOCUS......................................

.focus {
   padding-top: 131px;
   @media (max-width: 1199.98px) {
      padding-top: 50px;
   }
   @media (max-width: 991.98px) {
      padding-top: 30px;
   }
}
.focus__container {
   max-width: 1262px;
   padding: 0 15px;
}
.focus__items-top {
}
.top-items,
.top-items-bottom {
   display: flex;
   column-gap: 30px;
   justify-content: space-between;
   @media (max-width: 991.98px) {
      flex-direction: column-reverse;
   }
}
.top-items {
   margin-bottom: 50px;
   @media (max-width: 991.98px) {
      margin-bottom: 10px;
   }
}
.top-items-bottom {
   @media (max-width: 991.98px) {
      flex-direction: column;
   }
}
.top-items__image {
   flex: 0 1 50%;
   position: relative;
   padding-bottom: 27%;
   @media (max-width: 991.98px) {
      padding-bottom: 50%;
   }
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: bottom;
   }
}
.top-items__info {
   flex: 0 1 50%;
   margin-left: 108px;
   @media (max-width: 991.98px) {
      flex: 0 1 100%;
      justify-content: center;
      margin-left: 47px;
   }
   @media (max-width: 499.98px) {
      margin: 0;
   }
}
.info-items {
}
.info-items__title {
   &:not(:last-child) {
      margin-bottom: 85px;
      @media (max-width: 991.98px) {
         margin-bottom: 15px;
      }
   }
}
.focus-title {
   font-weight: 500;
   font-size: 30px;
   line-height: 1.3;
   padding-top: 26px;
   @media (max-width: 445.98px) {
      font-size: 20px;
   }
}
.info-items__text {
   max-width: 519px;
   font-size: 16px;
   font-weight: 400;
   &:not(:last-child) {
      margin-bottom: 58px;
      @media (max-width: 991.98px) {
         margin-bottom: 15px;
         font-size: 20px;
      }
   }
}

.info-items__link {
   display: block;
   color: #006dfe;
   background: url(../img/benefits/Shape.svg) 150px 7px no-repeat;
   @media (max-width: 991.98px) {
      margin-bottom: 15px;
   }
   &:hover {
      font-weight: 700;
   }
}

.top-items-bottom {
}
.top-items__bottom {
}
.bottom-items {
   margin-left: 47px;
   @media (max-width: 499.98px) {
      margin: 0;
   }
}
.bottom-items__title {
   max-width: 357px;
   &:not(:last-child) {
      margin-bottom: 45px;
      @media (max-width: 991.98px) {
         margin-bottom: 15px;
      }
   }
}
.focus-title {
}
.bottom-items__text {
   max-width: 519px;
   font-size: 16px;
   color: #102746;
   &:not(:last-child) {
      margin-bottom: 94px;
      @media (max-width: 991.98px) {
         margin-bottom: 15px;
      }
   }
}
.focus-text {
}
.bottom-items__link {
}
.top-items__image {
}

// ...........................visit........................................
.visit {
   padding-top: 139px;
   @media (max-width: 1199.98px) {
      padding-top: 50px;
   }
   @media (max-width: 991.98px) {
      padding-top: 30px;
   }
}
.visit__container {
   max-width: 1262px;
   padding: 0 15px;
}
.visit__title {
   margin-bottom: 60px;
   @media (max-width: 549.98px) {
      font-size: 25px;
      margin-bottom: 40px;
   }
}

.visit__items {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
   // grid-template-columns: 1fr;
   column-gap: 25px;
   row-gap: 58px;
   grid-auto-flow: row;
   @media (max-width: 1255.98px) {
      row-gap: 30px;
   }
   @media (max-width: 449.98px) {
      grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
   }
}
.visit__item {
}
.item-visit {
   display: flex;
   flex-direction: column;
}
.item-visit__image {
   position: relative;
   padding-bottom: 92%;
   overflow: hidden;
   // max-width: 392px;

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      transition: 0.5s all ease 0s;
      &:hover {
         transform: scale(1.3);
         transition: 0.5s all ease 0s;
      }
   }
}
.item-visit__info {
}
.visit-info {
   position: relative;
   z-index: 18;
   background: rgba(21, 24, 36, 0.6);
   min-height: 55px;
   min-width: 392px;
   display: flex;
   align-items: center;
   margin-top: -55px;
   margin-bottom: 45px;
   @media (max-width: 1255.98px) {
      margin-bottom: 15px;
   }
   @media (max-width: 449.98px) {
      min-width: 192px;
   }
}
.visit-info__title {
   flex: 0 1 50%;
   margin-left: 25px;
   font-weight: 500;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 18px;
   line-height: 1.3;
   transition: 0.3s all ease 0s;
   cursor: pointer;
   &:hover {
      color: #1b7dff;
      transition: 0.3s all ease 0s;
   }
}
.visit-info__reaction {
   display: flex;
   flex: 0 1 50%;
   justify-content: flex-end;
   margin-right: 16px;
   column-gap: 18px;
   font-weight: 500;
   color: #ffffff;
   cursor: pointer;
}
.visit-info__like {
   display: block;
   cursor: pointer;
   &::before {
      content: "";
      background: url(../img/visit/icons/like.svg) no-repeat;
      padding-left: 25px;
   }
}
.visit-info__message {
   display: block;
   &::before {
      content: "";
      background: url(../img/visit/icons/message.svg) 0px 3px no-repeat;
      padding-left: 25px;
   }
}
.item-visit__text {
   flex: 1 1 auto;
   @media (max-width: 991.98px) {
      font-size: 20px;
   }
   &:not(:last-child) {
      margin-bottom: 31px;
      @media (max-width: 1255.98px) {
         margin-bottom: 10px;
      }
   }
}
.item-visit__btn {
   max-width: 118px;
   min-height: 42px;
   background: #006dfe;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   transition: 0.5s all ease 0s;
   @media (max-width: 1255.98px) {
      max-width: 800px;
   }

   &:hover {
      background: #00275e;
      transition: 0.5s all ease 0s;
   }
}

// ...........................VIDEO........................................
.video {
   padding-top: 144px;
   @media (max-width: 1199.98px) {
      padding-top: 50px;
      margin-bottom: 20px;
   }
   @media (max-width: 991.98px) {
      padding-top: 30px;
   }
}

.video__file {
   position: relative;

   padding-bottom: 48%;
   iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}

// .....................................footer...................................

.footer {
   background: #0e1d28;
}
.footer__container {
   max-width: 1109px;
   margin: 0 auto;
   padding: 0 15px;
}
.footer__body {
   min-height: 370px;
   display: flex;
   align-items: center;
   justify-content: center;
   @media (max-width: 1199.98px) {
      min-height: 200px;
   }
   @media (max-width: 991.98px) {
      justify-content: flex-start;
   }
   @media (max-width: 767.98px) {
      flex-direction: column;
      // align-items: flex-start;
      padding-bottom: 30px;
   }
}
.footer__items {
   flex: 0 1 50%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   @media (max-width: 991.98px) {
      flex: 0 1 30%;
   }
   @media (max-width: 767.98px) {
      justify-content: flex-start;
   }
}
.footer__logo {
   max-width: 170px;
   transition: 0.3s all ease 0s;
   @media (max-width: 767.98px) {
      padding-top: 30px;
      padding-bottom: 20px;
      width: 80%;
   }
   img {
      max-width: 100%;
   }
   &:hover {
      transform: scale(1.2);
      transition: 0.3s all ease 0s;
   }
}
.footer__body-menu {
   display: flex;
   justify-content: space-between;
   flex: 0 1 50%;
   @media (max-width: 991.98px) {
      flex: 0 1 70%;
   }
   @media (max-width: 767.98px) {
      // display: none;
      // row-gap: 30px;
      // flex-direction: column;
      // align-items: center;
      flex: 1 1 100%;
      gap: 80px;
   }
   @media (max-width: 599.98px) {
      display: none;
   }
}
.footer-item {
}
.footer-item__navigation {
}
.footer-item__title {
   color: #ffffff;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.3;
   &:not(:last-child) {
      margin-bottom: 10px;
   }
   @media (max-width: 767.98px) {
      font-size: 25px;
   }
}
.footer-item__menu {
}
.footer-item__list {
   &:not(:last-child) {
      margin-bottom: 5px;
   }
}
.footer-item__link {
   color: #ffffff;
   transition: 0.5s all ease 0s;
   @media (max-width: 767.98px) {
      font-size: 22px;
   }
   @media (max-width: 599.98px) {
      font-size: 25px;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }
   &:hover {
      color: #006dfe;
      transition: 0.3s all ease 0s;
   }
}
.footer__spoiler {
   @media (min-width: 599.98px) {
      display: none;
   }
}
.spoiler {
}
.spoiler__item {
}
.spoiler-link {
   font-size: 28px;
   text-transform: capitalize;
   color: #ffffff;
   display: block;
   transition: 0.3s all ease 0s;
   position: relative;
   padding-right: 80px;
   &:not(:last-child) {
      margin-bottom: 20px;
   }
   &.hidden {
      color: #0e66d8;
      transition: 0.3s all ease 0s;
   }
   &.hidden::before,
   &.hidden::after {
      background-color: #0e66d8;
   }
   &::before,
   &::after {
      content: "";
      width: 10px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      top: 22px;
      right: 20px;
      margin-left: 50px;
   }
   &::before {
      transform: rotate(-40deg);
      transition: 0.3s all ease 0s;
      right: 20px;
      &.hidden {
         transform: rotate(40deg);
         transition: 0.3s all ease 0s;
      }
   }
   &::after {
      transform: rotate(40deg);
      transition: 0.3s all ease 0s;
      right: 28px;
      &.hidden {
         transform: rotate(-40deg);
         transition: 0.3s all ease 0s;
      }
   }
   &.hidden::before {
      transform: rotate(40deg);
      transition: 0.3s all ease 0s;
   }
   &.hidden::after {
      transform: rotate(-40deg);
      transition: 0.3s all ease 0s;
   }
}
.spoiler-block {
   padding-bottom: 20px;
}
